################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleUI/bin/Debug/netcoreapp2.1
/SimpleUI/obj
